@model Model.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align: center; color: #B70000">Details</h1>

<div style="background-color: #f5f5f5; padding: 10px; max-width: 600px; margin: 0 auto; border-radius: 5px;">
    <h4>Employee</h4>
    <hr />
    <dl class="row" style="display: flex; justify-content: center;">
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.EmplyeeName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EmplyeeName)
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-9">
            @if (Model.Gender == 1)
            {
                <p>Male</p>
            }
            else
            {
                <p>Female</p>
            }
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-9">
            ***
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-9">
            @Model.Salary.Value.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.TaxCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TaxCode)
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Level)
        </dd>
        @*<dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.DayOne)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DayOne)
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.LastDay)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastDay)
        </dd>*@
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt class="col-sm-3" style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Manager.EmplyeeName)
        </dd>
    </dl>
</div>
@*<div style="text-align: center; padding: 10px;">
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" style="padding: 6px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 10px; cursor: pointer; text-decoration: none;">Edit</a>
</div>*@

