@model IEnumerable<Model.Models.LeaveRequest>

@{
    ViewData["Title"] = "Leave Request";
}

<h1>Leave Request</h1>

<p>
    <a asp-action="Create">Create New Leave Request</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysLeave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Hr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysLeave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Hr.EmployeeId)
                </td>
                <td>
                    @if (item.Status == "Pending")
                    {
                        <a asp-action="Edit" asp-route-id="@item.RequestId">Edit</a>
                        <p> </p>
                        <a asp-action="Delete" asp-route-id="@item.RequestId">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.RequestId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
