@page
@model Model.Models.ResignationRequest
@{
    ViewData["Title"] = "Approval";
}

<html>
@*
<body>

    <h3>Resignation Requests</h3>
    <table border="1" cellpadding="2" cellspacing="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        @foreach (var requests in Model.)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td><img src="~/images/@product.Photo" width="60" /></td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>@(product.Price * product.Quantity)</td>
            </tr>
        }
    </table>

</body>
</html>*@

