@model CheckAttendenceModel
@{
}
<div style="max-width: 1200px; margin: 0 auto;">
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
        <label for="dateCheck" style="margin-right: 10px;">Select Date:</label>
        <div style="display: flex; align-items: center;">
            <form asp-controller="Attendence" asp-action="CheckIn" method="get">
                <input asp-for="@Model.DateCheck" name="dateCheck" type="date" class="form-control" style="width: 1000px; margin-right: 5px;" />
                <input type="submit" value="Go" class="btn btn-primary" style="background-color: #2ECC40;" />
            </form>
        </div>
    </div>
    <table class="table" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>
                    EmplyeeName
                </th>
                <th>
                    Check In
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <form method="post" asp-action="SubmitAttendence" asp-controller="Attendence">
                <input asp-for="@Model.DateCheck" type="date" hidden />
                @for (int i = 0; i < Model.Attendances.Count(); i++)
                {
                <tr>
                    <td>
                        <input asp-for="@Model.Attendances[i].Employee.EmployeeId" value="@Model.Attendances[i].Employee.EmployeeId" hidden readonly />
                        <p>@Model.Attendances[i].Employee.EmplyeeName</p>
                    </td>
                    <td>
                        <input asp-for="@Model.Attendances[i].CheckIn" type="checkbox" id="chk_@Model.Attendances[i].Employee.EmployeeId" />
                        <label for="chk_@Model.Attendances[i].Employee.EmployeeId" style="display: inline-block;">Attendance</label>
                    </td>
                </tr>
                }
                @if (Model.DateCheck.Date == DateTime.Now.Date)
                {
                <input type="submit" value="CheckIn" class="btn btn-success" style="background-color: #0052CC;" />
                }
            </form>
        </tbody>
    </table>
</div>
