@model CheckAttendenceModel
@{
}
<div class="form-control" style="max-width: 1100px; margin: 0 auto;">
    <div style="display: flex; align-items: center;">
        <label for="dateCheck" style="margin-right: 10px;">Select Date:</label>
        <input asp-for="@Model.DateCheck" name="dateCheck" type="date" class="form-control" />
        <input type="submit" value="Go" class="btn btn-primary" />
    </div>
    <table class="table" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>
                    EmplyeeName
                </th>
                <th>
                    CheckAttendence
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <form method="post" asp-action="SubmitAttendence" asp-controller="Attendence">
                <input asp-for="@Model.DateCheck" type="date" hidden/>
                @for (int i = 0; i < Model.Attendances.Count(); i++)
                {
                <tr>
                    <td>
                        <input asp-for="@Model.Attendances[i].Employee.EmployeeId" value="@Model.Attendances[i].Employee.EmployeeId" hidden readonly />
                        <p>@Model.Attendances[i].Employee.EmplyeeName</p>
                    </td>
                    <td>
                        <input asp-for="@Model.Attendances[i].IsChecked" type="checkbox" id="chk_@Model.Attendances[i].Employee.EmployeeId" />
                        <label for="chk_@Model.Attendances[i].Employee.EmployeeId">Attendance</label>
                    </td>
                </tr>
                }
            <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
        </tbody>
    </table>
</div>
