@model ViewAttendenceModel

@{
    ViewData["Title"] = "ViewAttendence";
}

<h1 style="text-align: center; color: #B70000;">View Attendence</h1>
<form id="myForm" method="post" asp-action="ViewAttendence" style="display: flex; justify-content: center; margin-bottom: 20px;">
    <select id="yearSelector" name="yearSelector" class="form-control" style="margin-right: 10px;">
        @for (int i = Model.Year - 10; i <= Model.Year + 10; i++)
        {
            if (Model.Year == i)
            {
                <option value="@i" selected>
                    @i
                </option>
            }
            else
            {
                <option value="@i">
                    @i
                </option>
            }
        }
    </select>
    <select id="weekSelector" name="weekSelector" class="form-control">
        @foreach (var option in Model.DateInWeek)
        {
            if (Model.WeekNumb == option.WeekNum)
            {
                <option value="@option.WeekNum" selected>
                    @option.WeekDisplay
                </option>
            }
            else
            {
                <option value="@option.WeekNum">
                    @option.WeekDisplay
                </option>
            }
        }
    </select>
</form>

<table class="table" style="width: 100%;">
    <thead>
        <tr>
            <th>
                Sunday
            </th>
            <th>
                Monday
            </th>
            <th>
                Tuesday
            </th>
            <th>
                Wednesday
            </th>
            <th>
                Thursday
            </th>
            <th>
                Friday
            </th>
            <th>
                Saturday
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            @foreach (var item in Model.Attendances)
            {
                <td>
                    @if (item.EmployeeId == "Not yet")
                    {
                        <p>Not yet</p>
                    }
                    else if (item.EmployeeId == "Not in")
                    {
                        <p></p>
                    }
                    else if (item.EmployeeId != "")
                    {
                        <p>Present</p>
                    }
                    else
                    {
                        <p>Absent</p>
                    }
                </td>
            }
            <td></td>
        </tr>
    </tbody>
</table>
<script>
    document.getElementById("weekSelector").addEventListener("change", function () {
        document.getElementById("myForm").submit();
    });
</script>
