@model ViewIncomeModel
@{
    ViewData["Title"] = "ViewIncome";
}

<h1 style="text-align: center; color: #B70000;">Your Income</h1>
<form id="myForm" method="post" asp-action="ViewIncome" style="display: flex; justify-content: center; margin-bottom: 20px;">
    <h3>Year </h3>
    <select asp-for="yearSelector" id="yearSelector" name="yearSelector" class="form-control" style="margin-right: 10px;">
        @for (int i = Model.yearSelector - 10; i <= Model.yearSelector + 10; i++)
        {
            if (Model.yearSelector == i)
            {
                <option value="@i" selected>
                    @i
                </option>
            }
            else
            {
                <option value="@i">
                    @i
                </option>
            }
        }
    </select>
    <h3>Month </h3>
    <select asp-for="monthSelector" id="monthSelector" name="monthSelector" class="form-control">
        @for (int i = 1; i <= 12; i++)
        {
            if (Model.monthSelector == i)
            {
                <option value="@i" selected>
                    @i
                </option>
            }
            else
            {
                <option value="@i">
                    @i
                </option>
            }
        }
    </select>
</form>
<div>
    <h3>Your Income: @Model.income.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</h3>
</div>

<script>
    document.getElementById("yearSelector").addEventListener("change", function () {
        document.getElementById("myForm").submit();
    });
    document.getElementById("monthSelector").addEventListener("change", function () {
        document.getElementById("myForm").submit();
    });
</script>
